* {
    --primarytext: #5a5555;
    --subtext: #A69595;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

}
.cartPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.cart-main {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 60vw;
    padding: 2rem;
    padding-top: 1rem;
    background-color: rgba(250, 248, 245, 0.985);
    .title{
        font-size: 3rem;
    }
    .divider {
        width: 50vw;
        border: 1px solid var(--subtext);
        border-radius: 50px;
        margin:0rem ;
        margin-top: -1rem;
        padding: 0px;
        
      }
      .bill-details{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
        font-size: 2.5rem;
        color: var(--primarytext);
        margin: 2rem;
        margin-top: 0px;
        gap: 2rem;
        
      }
}