.cartcount{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.count{
    font-size: 20px;
    color: red;
}
.btn {

 background-color: #eee;
 border: none;
 padding: 1rem;
 font-size: 1rem;
 width: 3em;
 border-radius: 1rem;
 color: lightcoral;
 box-shadow: 0 0.4rem #dfd9d9;
 cursor: pointer;
}

.btn:active {
 color: white;
 box-shadow: 0 0.2rem #dfd9d9;
 transform: translateY(0.2rem);
}

.btn:hover:not(:disabled) {
 background: lightcoral;
 color: white;
 text-shadow: 0 0.1rem #bcb4b4;
}

.btn:disabled {
 cursor: auto;
 color: grey;
}